body {
    font-family: Helvetica;
}

header {
    background-image: url("../pattern.jpeg");
    font-family: Helvetica;
    font-size: 100px;
    color: khaki;
    text-align: center;
    width: 100%;
    margin: auto;
}

.section1 {
    background-color: mediumspringgreen;
    width: 100%;
    margin: auto;
    color: white;

}

.section2 {
    background-color: lightcoral;
    width: 100%;
    margin: auto;
    color: white;

}

.section3 {
    background-color: skyblue;
    width: 100%;
    margin: auto;
    color: white;

}

.bluetext {
    font-weight: bold;
    color: blue;
}

h2 {
    color: white;
}
